@mixin navySVG {
	width:0;
	position:relative;
	top:50%;

}

@mixin link{
	text-decoration: underline;
		color:#000;
		height:auto;
		display:block;
		margin-left:2%;
		
}

@mixin background{
	
 position: absolute;
  box-sizing: border-box;
  width:100%;
  height: 0;
  bottom: 0;
  display:flex;
  align-items:center;
  justify-content: center;
}